 <nav class="navbar px-4 fixed-bottom navbar-expand-sm navbar-light bg-light" id="navbar">
<i class="bi bi-house-door-fill"></i>
<i class="bi bi-search"></i>
<i class="bi bi-hash"></i>
<i class="bi bi-shield-lock-fill"></i>
<i class="bi bi-person-circle"></i>
 </nav>


