<div id="tagcontainer">
  <h3>Trending</h3>
<div class="tag-list">
  <% @posts.tag_counts.each do |tag| %>
    <button type="button" class="m-1"><%= link_to "#{tag.name}", tag_path(tag.name) %></button>
  <% end %>
</div>
</div>
