.navbar > a {
  font-size: 1.7em;
  text-transform: none !important;
  color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid gray;
}
