/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');


 main{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
font-family: 'Montserrat', sans-serif;
 }

 .post-image{
  width: auto;
  height: 250px;
  background-size: cover;
  background-position: center;
  background: 50% 50% no-repeat; 
 }

 a .post-profile-pic {
   width: 25px;
 }

 .post-profile-pic, .post-username {
   color: black;
   font-weight: bold;
   text-decoration: none;
   white-space: nowrap;
 }

 .post-buttons {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
 }

 .post-details{
   display: flex;
flex-direction: row;
justify-content: flex-start;
 }

 .post-buttons > * {
   margin-left: 5px;
   margin-right: 2px;
 }


 .list-group{
   flex-direction: row !important;
 }
 .post-caption{
   display: inline;
   word-wrap: normal;
 }

 .post-username{
   display: inline ;
 }

 .post-card-container{
   font-size: 12px;
 }

 .bi-chat{
   margin-bottom: 2px;
 }

 .post-buttons > .bi {
   font-size: 15px;
 }