/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
$danger: rgb(138, 43, 43);

 @import 'bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');


@font-face {
  font-family: 'SFregular';
  src: asset-url('sanFranRegular.ttf');
}

@font-face {
  font-family: 'SFbold';
  src: asset-url('sanFranBold.ttf');
}


 main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'SFregular';
  margin-bottom: 7vh;
 }


@import 'partials/postcard';
@import 'partials/nav';
@import 'partials/profile';
@import 'partials/new_post';

.pages-links{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh;
}

#mobileSafe{
  display: none;
}

#warningMessage{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(36, 36, 36);
color: white;
height: 100vh;
width: 100vw;
}

@media only screen and (max-width: 460px) {

#mobileSafe{
  display: block;
}

#warningMessage{
display: none;
}
}

.toast{
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: white;
}

.header-username, .post-profile-pic{
  font-family: 'SFbold';
}